.body{
  margin-top: 50;
}
.universalBody{
  background-color:"white";
}
.profile{
  border-radius: 50%;
}
.GitprofileInfo{
  text-align: left;
  line-height: 2.2;
  font-size: 15px;
}
.gitProfileSettings{
  text-align: center
}
.profileDetails{
  display: flex;
  /* margin: 2px; */
}
.intro{
  line-height: 1.7;
}
.follow{
  display: flex;
  margin-left: 100px;
}
.login{
  font-size: 20px;
  font-display: flex;
}